doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/bootstrap.css")
        link(rel="stylesheet", href="./css/main.css")
        title Document
    body
        header 
            include components/navbar.pug
        div(class="slider")
            include components/slider.pug
        main 
            include components/banner-call.pug



    script(src="./js/bootstrap.min.js") 