.buttons-comp {
    background-color: #FF6600;
}
.button-item-box {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
    a {
        text-decoration: none;
    }
}
.button-comp-item {
    display: block;
    width: 350px;
    height: 350px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #FFFFFF;
        font-size: 2.5rem;
        font-weight: 900;
        text-shadow: 0px 0px 20px #6b6b6b;
    }
}
.item-enduro {
    background-image: url("../images/button-1.png");
    background-size: cover;
}
.item-urbano {
    background-image: url("../images/button-2.png");
    background-size: cover;
}
.item-mx {
    background-image: url("../images/button-3.png");
    background-size: cover;
}