footer {
    background-color: #000000;
    padding: 3rem;
}
.footer-logo {
    display: flex;
    justify-content: center;
    padding: 1rem;
    img {
        width: 220px;
    }
    
}

.footer-menu-ktm {
    display: flex;
    justify-content: center;
    padding: 1rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding-left: 0;
        gap: 4rem;
        li {
            list-style: none;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #ff6600;
                font-family: var(--font-family);
                font-weight: 900;
                font-size: 1.5rem;
                &:hover {
                    color: #fFFfff;
                }
            }
        }
    }
}

.footer-social-menu {
    display: flex;
    justify-content: center;
    padding: 1rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding-left: 0;
        gap: 3rem;
    }
}

.footer-social-icon {
    width: 1.8rem;
}
.power-by {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    p {
        color: #FFFfff;
        letter-spacing: 4px;
    }
}