// Large
@media (min-width: 992px) {
    // Video player
    .video-player-box {
        padding: 3rem 0rem;
    }
    // Carousell
    .carousel-caption {
        bottom: 30%;
        // Banner
        .carousel-type {
            font-size: 8rem;
        }
       }
}

// Medium
@media (max-width: 768px) {
     // Carousell
     .carousel-caption {
        bottom: 35%;
        // Banner
        .carousel-type {
            font-size: 12vw;
        }
       }
}

// Small
@media (max-width: 576px) {
    footer {
        padding: 1rem;
    }
    .footer-logo {
        display: flex;
        justify-content: flex-start;
    }
    .footer-menu-ktm {
        justify-content: flex-start;
        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-bottom: 0;
            gap: 1rem;
}
}
.footer-social-menu {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding-left: 0;
        gap: 1rem;
    }
}
}

// Extra small
@media (max-width: 450px) {
    // Navbar
    .nav-logo {
        img {
            height: 70px;
        }
    }
    // Banner
    .carousel-caption {
    bottom: 30%;
    .carousel-type {
        
    }
    }
    
    // Banner
    .banner-call {
        padding: 8rem 2.5rem;
        h2 {
            font-size: 3.5rem;
            span { 
                color: #FF6000;
            }
        }
        .banner-items {
            display: flex;
            flex-wrap: wrap;
        }
        .banner-item {
            font-size: 1.5rem;
            letter-spacing: 0rem;
            .item-indicator {
                margin-left: .2rem;
            }
        }
    }
    .banner-button-box {
        margin-top: 2rem;
        padding: 0rem;
        padding-bottom: 0rem;
        .button-call {
            display: flex;
            background-color: #FF6000;
            padding: 1rem 2rem;
            font-size: 1.5rem;
            font-style: italic;
        }
    }
    .button-item-box {
        display: flex;
        justify-content: center;
        padding: 1rem 0rem;
    }

}