:root {
    --plyr-color-main: #FF6600;
    --font-family: "Blender Pro";
    --font-family-book: "Blender Pro Book";
    --white-color: #FFFFFF;
    --black-color: #000000;
    --orange-color: #FF6600;
}

body {
    font-family: "Blender Pro";
}

// @import "font-custom";
@import "navbar";
@import "banner";
@import "slider";
@import "video-player";
@import "banner-bike";
@import "buttons-comp";
@import "footer";
@import "medias-querys"