div(class="banner-call")
    h2 Únete al team 
        span KTM Venezuela
    div(class="banner-items")
        div(class="banner-item")
            div(class="item-indicator") 
            | Preventas exclusivas
        div(class="banner-item") 
            div(class="item-indicator") 
            | Descuentos especiales
        div(class="banner-item") 
            div(class="item-indicator") 
            | Eventos KTM
    div(class="banner-button-box")
        a(href="https://forms.office.com/r/f7NhRAEZg3" target="_blank" id="callToAction" class="button-call") Déjanos tus datos 