div(class="banner-bike")
    div(class="container")
        div(class="row")
            div(class="col-md-4")
                div(class="banner-bike-text-box")
                    div(class="text-box-items")
                        span(class="duke") Duke
                        span(class="duke-ref") 390
                        span(class="duke-copy") Race Inspired
                        //- div(class="banner-bike-button-box")
                        //-     a(href="" class="banner-bike-button") VER 
            div(class="col-md-8")
                div(class="banner-bike-image-box")
                    img(class="banner-bike-image" src="./images/duke390.jpg")
