div(class="buttons-comp")
    div(class="container")
        div(class="row")
            div(class="col-md-12 col-lg-4")
                div(class="button-item-box")
                    a(href="") 
                        div(class="button-comp-item item-enduro") 
                            p
            div(class="col-md-12 col-lg-4")
                div(class="button-item-box")
                    a(href="") 
                        div(class="button-comp-item item-urbano")
                            p READY TO 
                                span(class="orange-block")
                                |  RACE
            div(class="col-md-12 col-lg-4")
                div(class="button-item-box")
                    a(href="") 
                        div(class="button-comp-item item-mx")
                            p