div(class="buttons-comp")
    div(class="container")
        div(class="row")
            div(class="col-md-12 col-lg-4")
                div(class="button-item-box")
                    div(class="button-comp-item") 
                        p ENDURO
            div(class="col-md-12 col-lg-4")
                div(class="button-item-box")
                    div(class="button-comp-item")
                        p URBANO
            div(class="col-md-12 col-lg-4")
                div(class="button-item-box")
                    div(class="button-comp-item")
                        p MOTOCROSS