footer 
    div(class="footer-logo")
        img(src="./images/logo_ktm_blanco.svg")
    div(class="footer-menu-ktm")
        ul
            li: a(href="") Modelos
            li: a(href="") Servicios
            li: a(href="") KTM Venezuela
            li: a(href="") Nosotros