footer 
        div(class="footer-logo")
                img(src="./images/logo_ktm_blanco.svg")
        div(class="footer-menu-ktm")
                ul
                        li: a(href="#" target="_blank") Modelos
                        li: a(href="#" target="_blank") Servicios
                        li: a(href="#" target="_blank") KTM Venezuela
                        li: a(href="#" target="_blank") Nosotros
        div(class="footer-social-menu")
                ul
                        li: a(href="#" target="_blank") 
                                img(class="footer-social-icon" src="./images/whatsapp.svg")
                        li: a(href="https://www.facebook.com/profile.php?id=100090155978214" target="_blank")
                                img(class="footer-social-icon" src="./images/facebook.svg")
                        li: a(href="https://www.instagram.com/ktmvzla" target="_blank")
                                img(class="footer-social-icon" src="./images/instagram.svg")
                        //- li: a(href="#" target="_blank") 
                        //-         img(class="footer-social-icon" src="./images/youtube.svg")