div(id="slider-ktm" class="carousel slide" data-bs-ride="true")
    div(class="carousel-indicators")
        button(type="button" data-bs-target="#slider-ktm" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
        button(type="button" data-bs-target="#slider-ktm" data-bs-slide-to="1" aria-label="Slide 2")
        button(type="button" data-bs-target="#slider-ktm" data-bs-slide-to="2" aria-label="Slide 3")
    div(class="carousel-inner")
        div(class="carousel-item active")
            <picture>
                <source media="(max-width:700px)" srcset="./images/slider-sm-1.png">
                <img class="d-block img-slider" src="./images/slider-1.png" alt="Flowers">
            </picture>
            div(class="carousel-caption")
                span(class="carousel-ready") Ready to race
                span(class="carousel-type") URBAN
        div(class="carousel-item")
            <picture>
                <source media="(max-width:700px)" srcset="./images/slider-sm-2.png">
                <img class="d-block img-slider" src="./images/slider-2.png" alt="Flowers">
            </picture>
            div(class="carousel-caption")
                span(class="carousel-ready") Ready to race
                span(class="carousel-type") ENDURO
        div(class="carousel-item") 
            <picture>
                <source media="(max-width:700px)" srcset="./images/slider-sm-3.png">
                <img class="d-block img-slider" src="./images/slider-3.png" alt="Flowers">
            </picture>
            div(class="carousel-caption")
                span(class="carousel-ready") Ready to race
                span(class="carousel-type") MOTOCROSS
    button(class="carousel-control-prev" type="button" data-bs-target="#slider-ktm" data-bs-slide="prev")
        span(class="carousel-control-prev-icon" aria-hidden="true")
        span(class="visually-hidden") Previous
    button(class="carousel-control-next" type="button" data-bs-target="#slider-ktm" data-bs-slide="next")
        span(class="carousel-control-next-icon" aria-hidden="true")
        span(class="visually-hidden") Next